Oglasi.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="minimalnaVrednost">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="sablon">
        <xs:restriction base="xs:string">
            <xs:pattern value="[^@].*@[^.].*[.].{1}.*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="Oglasi">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Oglas" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="kategorija">
                                <xs:complexType>                                    
                                    <xs:sequence />
                                    <xs:attribute name="tip" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="stanovi"/>
                                                <xs:enumeration value="automobili"/>
                                                <xs:enumeration value="kucni ljubimci"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="datumIstekaOglasa">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="([0-2][0-9]|3[01])[.](0[0-9]|1[02])[.][2-9][0-9][0-9][0-9][.]" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Cena" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="minimalnaVrednost">
                                            <xs:attribute name="valuta" use="optional" />
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Tekst">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="10" />
                                        <xs:maxLength value="180" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="oznaka" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="atribut" use="required"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="email" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="sablon">
                                            <xs:attribute name="tip" use="required">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="privatni"/>
                                                        <xs:enumeration value="sluzbeni"/>
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                        </xs:extension>
                                    </xs:simpleContent>                                    
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>