Oglasi.dtd

<!ELEMENT Oglasi (Oglas*)> 
<!ELEMENT Oglas (Kategorija, DatumIstekaOglasa, Cena, Tekst, Oznaka*, Email+)> 
<!ELEMENT Kategorija (#PCDATA)> 
<!ELEMENT DatumIsteka (#PCDATA)> 
<!ELEMENT Cena (#PCDATA)> 
<!ELEMENT Tekst (#PCDATA)> 
<!ELEMENT Oznaka (#PCDATA)> 
<!ELEMENT Email (#PCDATA)> 
<!ATTLIST Oglasi noNamespaceSchemaLocation CDATA #REQUIRED>
<!ATTLIST Cena valuta (din|eur) "eur">
<!ATTLIST Email vrsta (sluzbeni | privatni) "privatni">